.lista-prodotti-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lista-prodotti-container app-card-categoria {
  width: 100%;
}

.container-search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 8px; /* spazio tra le card */
}
