@if (chiaveNome != "") {
  <div class="container-search">
    @for (p of serv.getFilteredByName(chiaveNome); track $index) {
      <app-card-prodotto [product]="p"></app-card-prodotto>
    }
  </div>

} @else {

  <div class="container lista-prodotti-container">

    @for (cat of serv.productsMap?.keys(); track $index) {

      <app-card-categoria
        [categoryName]="cat"
        [products]="prendiProdotti(cat) || []">
      </app-card-categoria>

    }

  </div>

}

<input placeholder="filtro" [(ngModel)]="ricerca">
<button (click)="chiaveNome = ricerca">Cerca</button>
<button (click)="chiaveNome = ''; ricerca=''">Reset</button>
