<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
</style>
<div class="container">
  @for (entry of serv.comparedList | keyvalue; track entry.key)
  {
    <h1 style="margin-top: 20px; text-align:center; color: #056939; font-weight: 700">{{entry.key}}</h1>
        @for (p of entry.value; track $index)
        {
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" >
              {{ p.productName }}
              <span class="badge text-bg-primary rounded-pill" style="font-size: 17px">{{ p.price }}€</span>
            </li>
          </ul>
        }
  }
</div>
