<div class="container mt-4">

  <div class="mb-3">
    <h4>Ecco i tuoi dati</h4>
    <div>Username: {{ serv.userInformation?.username }}</div>
    <div>Email: {{ serv.userInformation?.email }}</div>
  </div>

  <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <h5>Cambia Username</h5>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control mb-2"
        placeholder="Inserisci nuovo username"
        [ngClass]="{ 'is-invalid': usernameForm.get('username')?.invalid && usernameForm.get('username')?.touched }"
      />
      <div *ngIf="usernameForm.get('username')?.invalid && usernameForm.get('username')?.touched" class="invalid-feedback">
        Username non valido (minimo 4 caratteri)
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="usernameForm.invalid">
        Cambia username
      </button>
    </div>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
    <div class="mb-4">
      <h5>Cambia Password</h5>

      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control mb-2"
        placeholder="Inserisci nuova password"
        [ngClass]="{
          'is-invalid': passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched
        }"
      />
      <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched" class="invalid-feedback">
        Password non valida: deve contenere maiuscola, minuscola, numero e simbolo.
      </div>

      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control mb-2"
        placeholder="Conferma password"
        [ngClass]="{
          'is-invalid': passwordForm.get('confirmPassword')?.touched && !controllaPasswordUguali()
        }"
      />
      <div
        *ngIf="passwordForm.get('confirmPassword')?.touched && !controllaPasswordUguali()"
        class="invalid-feedback"
      >
        Le password non coincidono
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="passwordForm.invalid || !controllaPasswordUguali()"
      >
        Conferma nuova password
      </button>
    </div>
  </form>

  <div class="mt-4">
    <button
      type="button"
      class="btn btn-danger"
      (click)="serv.deleteUserProfile()"
    >
      Elimina Profilo
    </button>
  </div>
</div>
